/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$darkestpurple: #5D5A88;
$lightpurple: #ADABC3;
$lightestpurple: #F2F1FA;
$lighterpurple: #E7E6F2;
$darkpurple: #9795B4;
$gray: #93A8AC;
$darkgray: #637275;
$lightgray: #F8F9FA;
$footergray: #ADB5BD;
$darkestgray: #2A3036
